@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif !important;
  font-weight: 100;
  font-style: normal;
}
.logo {
  width: 250px;
}
.navbar {
  background: linear-gradient(to top right, black, #354EAD);
  position: fixed !important;
  width: 100%;
  z-index: 1;
}
.search-form {
  display: flex;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
  background-image: url(assets/background-images/jake-blucker-BLoHqNkCeZg-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(20px);
}
.btn {
  color: #fff !important;
  border: 2px solid #fff !important;
}
.nav-link {
  color: #fff !important;
}
.navbar-toggler {
  border: 2px solid black !important;
  background: #354EAD !important;
}
.todays-weather-container {
  width: 40vw;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items : center;
}
.title {
  font-size: 3rem;
  position: relative;
  background: linear-gradient(to top right, black, #354EAD);
  color: #fff;
  text-decoration: underline;
  text-underline-position: 5px;
  border-radius: 10px;
  padding: 8px;
}
.temp-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 15px solid #fff;
  border-radius: 50%;
  background: rgb(170, 170, 170, 80%);
  color: #fff;
  width: 300px;
  height: 300px;
  font-size: 3rem;
}
.temp-circle {
  text-align: center;
}
.temp-num {
  font-size: 10rem;
}
.fa-location-dot {
  margin-right: 8px;
}
.your-location {
  font-size: 2rem;
  background: linear-gradient(to top right, black, #354EAD);
  color: #fff;
  border-radius: 10px;
  padding: 8px;
}
.todays-forecast {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(170, 170, 170, 80%);
  margin-top: 24px;
  border-radius: 10px;
  color: #fff;
}
.card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75px;
}
.fa-droplet {
  margin-right: 8px;
  font-size: .6rem;
}
.popular-city-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #cbcbcbb6;
  gap: 20px;
  padding: 50px 0;
  
}
.popular-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  background-position: center;
  background-size: cover;
}
.pop-loc-title {
  font-size: 1.6rem;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}
.pop-city-temp {
  background-color: rgba(220, 220, 220 80%);
  margin-bottom: 25px;
  font-size: 1.6rem;
  color: #fff;
}
.feels-like {
  margin-bottom: 0;
}
.pop-temp-container {
  position: relative;
  right: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  width: 250px;
  height: 200px;
  background-color: rgb(170, 170, 170);
  opacity: 0;
  transition: all 1000ms;
  overflow: hidden;
  padding: 15px;
  color: #fff;
}
.popular-city:hover .pop-temp-container {
  display: flex;
  right: 0;
  opacity: 1; 
}
.info-container {
  display: flex;
  gap: 20px;
}
.feels-like-container {
  display: flex;
  flex-direction: column;
}
.pop-container-0,
.Paris > h4 {
  background: #9087BA;
}
.pop-container-1,
.York > h4 {
  background: rgba(10, 10, 10);
}
.pop-container-2,
.Tokyo > h4 {
  background: #3583B0;
}
.pop-container-3,
.Buenos > h4 {
  background: rgb(229, 160, 102);
}
.pop-container-4,
.Lagos > h4 {
  background: #848484;
}
.pop-container-5,
.Beijing > h4 {
  background: #628BC3;
}
.pop-container-6,
.Toronto > h4 {
  background: #C5B9B1;
}
.pop-container-7,
.Mexico > h4 {
  background: #ADADAD;
}
.pop-container-8,
.Cape > h4 {
  background: #659EB5;
}
.pop-container-9,
.Vienna > h4 {
  background: #7DA4F3;
}
.pop-container-10,
.Dubai > h4 {
  background: #888888;
}
.pop-container-11,
.Delhi > h4 {
  background: #262F36;
}
.image-icon {
  height: 90px;
}
.artist-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #262F36;
  color: #fff;
  padding: 50px;
}
.artist-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.artist-title {
  font-size: 4rem;
  text-decoration: underline;
  text-underline-offset: 15px;
  margin-bottom: 50px;
}
.artist-img {
  height: 600px;
  border-radius: 20px;
}
.artist-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  
}
.artist-text {
  max-width: 800px;
}

@media screen and (max-width: 991px) {
  .title {
    font-size: 2rem
  }
  .your-location {
    font-size: 1rem;
  }
  .temp-circle {
    border: 10px solid #fff;
    width: 150px;
    height: 150px;
    font-size: 1rem;
  }
  .temp-num {
    font-size: 5rem;
  }
  .todays-forecast {
    min-width: 400px;
    width: 30vw;
    font-size: .7rem;
  }
  .fa-droplet {
  margin-right: 5px;
  font-size: .4rem;
}
}

@media screen and (max-width: 700px) {
  .title {
    font-size: 1.5rem
  }
  .your-location {
    font-size: .7rem;
  }
  .temp-circle {
    border: 5px solid #fff;
    width: 100px;
    height: 100px;
    font-size: .7rem;
  }
  .temp-num {
    font-size: 3rem;
  }
  .todays-forecast {
    min-width: 300px;
    width: 20vw;
    font-size: .8rem;
  }
}





